html,body,span,a,p,li,ul,ol,input,div{padding: 0;margin: 0;box-sizing: border-box;}
.container,.container-fluid{margin:0 auto;height: 100%;}
.container-fluid{width: 100%;}
.container{max-width: 1200px;}
.row{margin: 10px 0px;overflow: hidden;}
.row:after{display: block;width: 0;height: 0;clear: both;}
div[class^='col']{
	float: left;
	padding:  5px;
	position: relative;
	
}

@media only screen and (max-width: 768px) {
	/*小屏幕*/
	.col-sm-1{width:8.33%;}
	.col-sm-2{width:16.66%;}
	.col-sm-3{width:24.99%;}
	.col-sm-4{width:33.32%;}
	.col-sm-5{width:41.65%;}
	.col-sm-6{width:49.98%;}
	.col-sm-7{width:56.81%;}
	.col-sm-8{width:66.64%;}
	.col-sm-9{width:74.97%;}
	.col-sm-10{width:83.3%;}
	.col-sm-11{width:91.63%;}
	.col-sm-12{width:100%;}
}
@media only screen and (max-width: 768px) {
	 /*超小屏幕*/
	.col-xs-1{width:8.33%;}
	.col-xs-2{width:16.66%;}
	.col-xs-3{width:24.99%;}
	.col-xs-4{width:33.32%;}
	.col-xs-5{width:41.65%;}
	.col-xs-6{width:49.98%;}
	.col-xs-7{width:56.81%;}
	.col-xs-8{width:66.64%;}
	.col-xs-9{width:74.97%;}
	.col-xs-10{width:83.3%;}
	.col-xs-11{width:91.63%;}
	.col-xs-12{width:100%;}
}
@media only screen and (min-width: 768px) {
	/*小屏幕*/
	.col-sm-1{width:8.33%;}
	.col-sm-2{width:16.66%;}
	.col-sm-3{width:24.99%;}
	.col-sm-4{width:33.32%;}
	.col-sm-5{width:41.65%;}
	.col-sm-6{width:49.98%;}
	.col-sm-7{width:56.81%;}
	.col-sm-8{width:66.64%;}
	.col-sm-9{width:74.97%;}
	.col-sm-10{width:83.3%;}
	.col-sm-11{width:91.63%;}
	.col-sm-12{width:100%;}
}
@media only screen and (min-width: 992px) {
	/*中屏幕*/
	.col-md-1{width:8.33%;}
	.col-md-2{width:16.66%;}
	.col-md-3{width:24.99%;}
	.col-md-4{width:33.32%;}
	.col-md-5{width:41.65%;}
	.col-md-6{width:49.98%;}
	.col-md-7{width:56.81%;}
	.col-md-8{width:66.64%;}
	.col-md-9{width:74.97%;}
	.col-md-10{width:83.3%;}
	.col-md-11{width:91.63%;}
	.col-md-12{width:100%;}
}
@media only screen and (min-width: 1200px) {
	/*大屏幕*/
	.col-lg-1{width:8.33%;}
	.col-lg-2{width:16.66%;}
	.col-lg-3{width:24.99%;}
	.col-lg-4{width:33.32%;}
	.col-lg-5{width:41.65%;}
	.col-lg-6{width:49.98%;}
	.col-lg-7{width:56.81%;}
	.col-lg-8{width:66.64%;}
	.col-lg-9{width:74.97%;}
	.col-lg-10{width:83.3%;}
	.col-lg-11{width:91.63%;}
	.col-lg-12{width:100%;}
}

